

<form class="" action="/create" method="post">

  <h2>Create a New Snippet</h2>
  <br>
  <p>Author of Code</p>
  <input type="text" name="author" value="" placeholder="author = username">
  <br>
  <p>Create your Snippet</p>
  <input type="text" name="title" value="" placeholder="tite of snippet">
  <br>
  <br>
  <textarea name="code" rows="8" cols="80" placeholder="write your code snippet here" value""></textarea>
  <br>
  <input type="text" name="notes" value="" placeholder=" notes/comments">
  <br>
  <p>Help to Organize your Snippets</p>
  <input type="text" name="language" value="" placeholder="language">
  <input type="text" name="tag" value="" placeholder="search tags">
  <br>
  <input type="submit" name="submit" placeholder="submit">

</form>
