<link rel="stylesheet" href="../main.css">

{{#snippets}}
  <div class="createdSnip">

    <pre id='code'>{{code}}</pre>


    <p><strong>Title: </strong>
      <br/>
      {{title}}</p>
    {{#notes}}
    <p><strong>Notes: </strong>
      <br/>
    {{notes}}</p>
    {{/notes}}
    {{^notes}}
    {{/notes}}

    <p><strong>Language:</strong>
      <br/>
      <a href="/language/{{language}}">{{language}}</a></p>

      <p><strong>Tags: </strong>
        <br/>
        {{#tag}}
        <a href="/tags/{{.}}">{{.}}</a>
        {{/tag}}
      </p>

        <p><strong>Created by: </strong>{{username}}</p>



  </div>


{{/snippets}}
