<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  </head>
  <body>

    <nav id="nav">
      <a href="/listing">View All My Snippets</a>
      <a href="/create">Create a Snippet</a>
      <a href="/logout">Log Out</a>
    </nav>

    <h1>Code Snippet Organizer</h1>
    <div class="container">
      {{{yield}}}

    </div>

  </body>
</html>
