

{{#snippets}}


  <div class="createdSnip">

        <p><strong>Created by: </strong>{{author}}</p>

        <p><strong>Code Snippet: </strong><pre>{{code}}</pre></p>

        <p><strong>Language:</strong>{{language}}</p>

        <p><strong>Tags: </strong>{{tag}}</p>

        <a href="/edit/{{id}}">Edit Snippet</a>
      

  </div>


{{/snippets}}
