<h1>listing</h1>


{{#snippets}}

<a href="/listing/{{id}}">

  <div class="profile">


<h3>{{author}}</h3>


<textarea name="code" rows="8" cols="80">{{code}}</textarea>


</div>


</a>
{{/snippets}}
